body {
    background: #111;
    color: #fff;
    font-family: Arial;
}

.container {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
.description {
    color: #ccc;
    margin-bottom: 20px;
    text-align: left;
}
